[submodule "Jesterworks"]
	path = Jesterworks
	url = git@github.com:aloeliger/Jesterworks.git
[submodule "RenderCode"]
	path = RenderCode
	url = git@github.com:aloeliger/RenderCode
[submodule "TauIDCode"]
	path = TauIDCode
	url = https://github.com/aloeliger/TauIDCode
[submodule "NtuplePolishing/triggerSF"]
	path = NtuplePolishing/triggerSF
	url = https://github.com/rmanzoni/triggerSF
	branch = moriond17
[submodule "ScriptsAndMacros"]
	path = ScriptsAndMacros
	url = git@github.com:aloeliger/ScriptsAndMacros.git
[submodule "NtuplePolishing/Weightings/CorrectionsWorkspace"]
	path = NtuplePolishing/Weightings/CorrectionsWorkspace
	url = https://github.com/harrypuuter/CorrectionsWorkspace.git
	branch = 2017_17NovReRecoData_Fall17MC
[submodule "Skimming_SMHTT_legacy"]
	path = Skimming_SMHTT_legacy
	url = https://github.com/cecilecaillol/Skimming_SMHTT_legacy.git
[submodule "ReweightScheme"]
	path = ReweightScheme
	url = git@github.com:aloeliger/ReweightScheme.git
